Cache
Index
Local
*.last-run
**/*cache
Installed\ Packages
Packages/User/Evernote.sublime-settings
Packages/User/Package\ Control.merged-ca-bundle
Packages/User/Package\ Control.system-ca-bundle
Backup
Packages
*store.bin.gz
Evernote.sublime-settings
